In [4]:
import os
from os.path import join
import pandas as pd

In [2]:
project_root = join("..", "..")
raw_data_dir = join(project_root, "data", "raw")
raw_data_file = join(raw_data_dir, "breast-cancer-wisconsin.data")

In [3]:
column_names = [
    "Sample",
    "Clump Thickness",
    "Cell Size Uniformity",
    "Cell Shape Uniformity",
    "Marginal Adhesion",
    "Single Epithelial Cell Size",
    "Bare Nuclei",
    "Bland Chromatin", 
    "Normal Nuclei",
    "Mitoses",
    "Class",
]

In [25]:
df = pd.read_csv(raw_data_file, names=column_names, index_col=0, na_values=["?"])

In [26]:
df.head()

,Clump Thickness,Cell Size Uniformity,Cell Shape Uniformity,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nuclei,Mitoses,Class
Sample,,,,,,,,,,
1000025,5,1,1,1,2,1.0,3,1,1,2
1002945,5,4,4,5,7,10.0,3,2,1,2
1015425,3,1,1,1,2,2.0,3,1,1,2
1016277,6,8,8,1,3,4.0,3,7,1,2
1017023,4,1,1,3,2,1.0,3,1,1,2

In [31]:
print(df[df.isna().any(axis=1)].values.shape)
df[df.isna().any(axis=1)]

(16, 10)

,Clump Thickness,Cell Size Uniformity,Cell Shape Uniformity,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nuclei,Mitoses,Class
Sample,,,,,,,,,,
1057013,8,4,5,1,2,NaN,7,3,1,4
1096800,6,6,6,9,6,NaN,7,8,1,2
1183246,1,1,1,1,1,NaN,2,1,1,2
1184840,1,1,3,1,2,NaN,2,1,1,2
1193683,1,1,2,1,3,NaN,1,1,1,2
1197510,5,1,1,1,2,NaN,3,1,1,2
1241232,3,1,4,1,2,NaN,3,1,1,2
169356,3,1,1,1,2,NaN,3,1,1,2
432809,3,1,3,1,2,NaN,2,1,1,2
563649,8,8,8,1,2,NaN,6,10,1,4
606140,1,1,1,1,2,NaN,2,1,1,2
61634,5,4,3,1,2,NaN,2,3,1,2
704168,4,6,5,6,7,NaN,4,9,1,2
733639,3,1,1,1,2,NaN,3,1,1,2
1238464,1,1,1,1,1,NaN,2,1,1,2
1057067,1,1,1,1,1,NaN,1,1,1,2

In [28]:
df.values.shape

(699, 10)

In [29]:
df.dtypes

Clump Thickness                  int64
Cell Size Uniformity             int64
Cell Shape Uniformity            int64
Marginal Adhesion                int64
Single Epithelial Cell Size      int64
Bare Nuclei                    float64
Bland Chromatin                  int64
Normal Nuclei                    int64
Mitoses                          int64
Class                            int64
dtype: object

In [32]:
df_clean = df.dropna()

In [33]:
df_clean.shape

(683, 10)